# Integers
tidak ada batasan nilai

In [2]:
print(435352 +1)

435353

In [3]:
# Python interprets a sequence of decimal digits
# without any prefix to be a decimal number

print(10)
print(type(10))

10
<class 'int'>

# Floating-Point Numbers
- ditentukan dengan titik desimal
- karakter e atau E diikuti dengan bilangan bulat + atau - dapat ditambahkan untuk menentukan notasi ilmiah

In [5]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

# Strings (Str)
tidak ada batasan size dan boleh kosong

In [6]:
print('Hacktiv8')
print(type('Hacktiv8'))

Hacktiv8
<class 'str'>

In [7]:
print("This string contains a single quote ('') character")
print('This string contains a double quote ("") character')

This string contains a single quote ('') character
This string contains a double quote ("") character

# Boolean Type, Boolean Context, "Truthness"

In [8]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# Variable Assignment
variabel tidak perlu dideklarasikan atau didefinisikan, menggunakan simbol =

In [13]:
n=300
print (n)

300

In [11]:
n

300

In [15]:
# nilai dari variabel yang sama akan berubah jika valuenya diganti

n=100
print(n)

100

In [16]:
n

100

In [17]:
a = b = c = 300
print(a,b,c)

300 300 300

# Variable Types in Python
 variabel diketik secara statis
 variabel yang dideklarasikan diawal memiliki tipe data tertentu dan nilai apa pun yang ditetapkan pada variable tersebut selama masa pakainya harus selalu memiliki tipe itu.

In [18]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

# Variabel Names

In [20]:
name = 'Hacktiv8'
age = 54
has_laptops = True
print(name, age, has_laptops)

Hacktiv8 54 True

In [21]:
# tidak boleh dimulai dengan angka

9_laptop = True

SyntaxError: invalid decimal literal (Temp/ipykernel_9616/3089999727.py, line 3)

In [22]:
# case sensitive

age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

Note:

Tiga metode penulisan variabel
- Camel Case (numberOfCollegeGraduates)
- Pascal Case (NumberOfCollegeGraduates)
- Snak Case (number_of_college_graduates)

# Operators and Expressions in Python

In [23]:
a = 10
b = 20
a + b

30

In [24]:
# operator: +, -, *, /, ^, etc
# operand: integer

a = 10
b = 20
a + b - 5  # disebut expression

25

# Arithmetic Operators

In [26]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [27]:
# hasil dari pembagian akan selalu ditampilkan dengan type float walaupun hasilnya genap

10 / 5

2.0

# Comparison Operators

In [29]:
a = 10
b = 20
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)


a = 30
b = 30
print(a == b)

print(a <= b)

print(a >= b)

False
True
True
False
True
True
True

# String Manipulation

In [30]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)


print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [31]:
# * Operators

s = 'foo.'

s * 4

'foo.foo.foo.foo.'

In [32]:
s = 'foo'

print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [33]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

# Python List
list adalah kumpulan objek yg arbitary

In [34]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

Karakteristik penting dari List Python adalah sebagai berikut:

- Lists are ordered.
- Lists can contain any arbitrary objects.
- List elements can be accessed by index.
- Lists can be nested to arbitrary depth.
- Lists are mutable.
- Lists are dynamic.
- Lists Are Ordered

In [35]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

Sebuah List dapat berisi bermacam-macam objek. Element dari List semuanya bisa berjenis sama

In [36]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

List Elements Can Be Accessed by Index
- Elemen individual dalam List dapat diakses menggunakan indeks dalam tanda kurung siku. Ini sama persis dengan mengakses karakter individu dalam sebuah string. Pengindeksan List berbasis nol seperti halnya dengan string.

In [37]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [38]:
print(a[0])
print(a[5])

foo
corge

In [39]:
# indeks list negatif

print(a[-1])
print(a[-6])

corge
foo

 Jika a adalah list, ekspresi a[m:n] mengembalikan porsi a dari indeks m ke n, tetapi tidak termasuk, indeks n:

In [40]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [41]:
print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [42]:
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

## Modifying a Single List Value

In [43]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [44]:
# menghapus list item

del a[3]
print (a)

['foo', 'bar', 10, 'quux', 20]

## Modifying Multiple List Values

In [45]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# Pyhton Tuples
Tuples identik dengan list dalam segala hal, kecuali untuk properti berikut:
- Tuples didefinisikan dengan mengapit elemen dalam tanda kurung (()) daripada tanda kurung siku ([])
- Tuples tidak bisa diubah

In [46]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [47]:
print(t[0])

print(t[-1])

foo
corge

In [48]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

# Python Dictionary
sebuah implementasi py dari struktur data yg lebih dikenal sbg associative array. terdiri dari key-value pairs.

In [49]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

## Accessing Dictionary Values

In [50]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [51]:
# menambahkan entry baru pada kamus yang sudah ada

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [52]:
# update entry

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [53]:
# delete entry

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

## Building a Dictionary Incrementally
menambahkan entry baru sambil jalan

In [56]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [57]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [58]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [62]:
print(person['pets'])
print(person['pets']['dog'])

{'dog': 'Fido', 'cat': 'Sox'}
Fido

In [63]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

# Line Continuation
Misalkan satu pernyataan dalam kode Python kalian sangat panjang

In [64]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [65]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True